---
interface Props {
    width?: number;
    height?: number;
    class?: string;
}

const { width = 20, height = 14, class: className } = Astro.props;
---

<svg
    width={width}
    height={height}
    viewBox="0 0 513 342"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class={className}
>
    <title>Peru</title>
    <g clip-path="url(#clip0_pe)">
        <path d="M0 0H171V342H0V0Z" fill="#D91023"/>
        <path d="M171 0H342V342H171V0Z" fill="white"/>
        <path d="M342 0H513V342H342V0Z" fill="#D91023"/>
    </g>
    <defs>
        <clipPath id="clip0_pe">
            <rect width="513" height="342" fill="white"/>
        </clipPath>
    </defs>
</svg>
