---
interface Props {
	width?: number;
	height?: number;
	class?: string;
}

const { width = 16, height = 16, class: className } = Astro.props;
---

<svg
    width={width}
    height={height}
    viewBox="0 0 32 32"
    xmlns="http://www.w3.org/2000/svg"
    class={className}
>
    <title>Voxtype</title>
    <rect width="32" height="32" rx="6" fill="#0a0a0a"/>
    <g transform="translate(7 6)">
        <path d="M9 0L18 5.5V16.5L9 22L0 16.5V5.5L9 0Z" fill="#E97B1A" opacity="0.9"/>
        <path d="M9 0L18 5.5V16.5L9 11V0Z" fill="#D06A10" opacity="0.8"/>
        <path d="M9 11L18 16.5L9 22L0 16.5L9 11Z" fill="#C05A08" opacity="0.7"/>
    </g>
</svg>
