@layer base {
	.astro-code,
	.astro-code span {
		background-color: var(--color-flexoki-bg-2) !important;
	}

	.astro-code {
		border: 1px solid var(--color-flexoki-ui) !important;
		font-size: 13px;
		position: relative !important;
		isolation: isolate !important;
		background-image: linear-gradient(
			45deg,
			rgba(128, 128, 128, 0.03) 25%,
			transparent 25%,
			transparent 50%,
			rgba(128, 128, 128, 0.03) 50%,
			rgba(128, 128, 128, 0.03) 75%,
			transparent 75%,
			transparent
		) !important;
		background-size: 8px 8px !important;
		background-attachment: local !important;
	}

	.astro-code::after {
		content: "" !important;
		position: absolute !important;
		inset: 0 !important;
		opacity: 0.985 !important;
		z-index: 0 !important;
		pointer-events: none !important;
	}

	.astro-code code {
		counter-reset: step !important;
		counter-increment: step calc(var(--start, 1) - 1) !important;
		position: relative !important;
		z-index: 1 !important;
	}

	.astro-code code .line::before {
		content: counter(step) !important;
		counter-increment: step !important;
		width: 1rem !important;
		margin-right: 1.5rem !important;
		display: inline-block !important;
		text-align: right !important;
		color: var(--color-flexoki-tx-2) !important;
		opacity: 0.5 !important;
	}

	@media (prefers-color-scheme: dark) {
		.astro-code span {
			color: var(--shiki-dark) !important;
		}
	}
}
