@import "tailwindcss";
@import "katex/dist/katex.min.css";
@import "./flexoki.css";
@import "./reset.css";
@import "./fonts.css";
@import "./code.css";

@plugin "@midudev/tailwind-animations";
@plugin "@tailwindcss/typography";

::selection {
    background-color: var(--color-orange-200);
    color: var(--color-black);
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) ::selection {
        background-color: var(--color-orange-600);
        color: var(--color-paper);
    }
}

:root.dark ::selection {
    background-color: var(--color-orange-600);
    color: var(--color-paper);
}

@theme {
    --font-sans: "IBM Plex Sans", "sans-serif";
    --font-serif: "IBM Plex Serif", "serif";
    --font-mono: "IBM Plex Mono", "monospace";

    /* Custom Breakpoints */
    --breakpoint-mobile: 40rem;

    --color-primary: oklch(0.9084 0.2171 105.88);
    /* Base Colors */
    --color-flexoki-bg: var(--color-paper);
    --color-flexoki-bg-2: var(--color-base-50);
    --color-flexoki-ui: var(--color-base-100);
    --color-flexoki-ui-2: var(--color-base-150);
    --color-flexoki-ui-3: var(--color-base-200);
    --color-flexoki-tx: var(--color-black);
    --color-flexoki-tx-2: var(--color-base-600);
    --color-flexoki-tx-3: var(--color-base-300);

    /* Colors */
    --color-flexoki-red: var(--color-red-600);
    --color-flexoki-orange: var(--color-orange-600);
    --color-flexoki-yellow: var(--color-yellow-600);
    --color-flexoki-green: var(--color-green-600);
    --color-flexoki-cyan: var(--color-cyan-600);
    --color-flexoki-blue: var(--color-blue-600);
    --color-flexoki-purple: var(--color-purple-600);
    --color-flexoki-magenta: var(--color-magenta-600);
    --color-flexoki-amber: var(--color-amber-600);
    --color-flexoki-lime: var(--color-lime-600);
    --color-flexoki-emerald: var(--color-emerald-600);
    --color-flexoki-teal: var(--color-teal-600);
    --color-flexoki-sky: var(--color-sky-600);
    --color-flexoki-indigo: var(--color-indigo-600);
    --color-flexoki-violet: var(--color-violet-600);
    --color-flexoki-fuchsia: var(--color-fuchsia-600);
    --color-flexoki-pink: var(--color-pink-600);
    --color-flexoki-rose: var(--color-rose-600);
    --color-flexoki-slate: var(--color-slate-600);
    --color-flexoki-gray: var(--color-gray-600);
    --color-flexoki-zinc: var(--color-zinc-600);
    --color-flexoki-neutral: var(--color-neutral-600);
    --color-flexoki-stone: var(--color-stone-600);
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --color-primary: #fed400;
        /* Base Colors */
        --color-flexoki-bg: var(--color-black);
        --color-flexoki-bg-2: var(--color-base-950);
        --color-flexoki-ui: var(--color-base-900);
        --color-flexoki-ui-2: var(--color-base-850);
        --color-flexoki-ui-3: var(--color-base-800);
        --color-flexoki-tx: var(--color-base-200);
        --color-flexoki-tx-2: var(--color-base-500);
        --color-flexoki-tx-3: var(--color-base-700);

        /* Colors */
        --color-flexoki-red: var(--color-red-400);
        --color-flexoki-orange: var(--color-orange-400);
        --color-flexoki-yellow: var(--color-yellow-400);
        --color-flexoki-green: var(--color-green-400);
        --color-flexoki-cyan: var(--color-cyan-400);
        --color-flexoki-blue: var(--color-blue-400);
        --color-flexoki-purple: var(--color-purple-400);
        --color-flexoki-magenta: var(--color-magenta-400);
        --color-flexoki-amber: var(--color-amber-400);
        --color-flexoki-lime: var(--color-lime-400);
        --color-flexoki-emerald: var(--color-emerald-400);
        --color-flexoki-teal: var(--color-teal-400);
        --color-flexoki-sky: var(--color-sky-400);
        --color-flexoki-indigo: var(--color-indigo-400);
        --color-flexoki-violet: var(--color-violet-400);
        --color-flexoki-fuchsia: var(--color-fuchsia-400);
        --color-flexoki-pink: var(--color-pink-400);
        --color-flexoki-rose: var(--color-rose-400);
        --color-flexoki-slate: var(--color-slate-400);
        --color-flexoki-gray: var(--color-gray-400);
        --color-flexoki-zinc: var(--color-zinc-400);
        --color-flexoki-neutral: var(--color-neutral-400);
        --color-flexoki-stone: var(--color-stone-400);
    }
}

:root.dark {
    --color-primary: #fed400;
    /* Base Colors */
    --color-flexoki-bg: var(--color-black);
    --color-flexoki-bg-2: var(--color-base-950);
    --color-flexoki-ui: var(--color-base-900);
    --color-flexoki-ui-2: var(--color-base-850);
    --color-flexoki-ui-3: var(--color-base-800);
    --color-flexoki-tx: var(--color-base-200);
    --color-flexoki-tx-2: var(--color-base-500);
    --color-flexoki-tx-3: var(--color-base-700);

    /* Colors */
    --color-flexoki-red: var(--color-red-400);
    --color-flexoki-orange: var(--color-orange-400);
    --color-flexoki-yellow: var(--color-yellow-400);
    --color-flexoki-green: var(--color-green-400);
    --color-flexoki-cyan: var(--color-cyan-400);
    --color-flexoki-blue: var(--color-blue-400);
    --color-flexoki-purple: var(--color-purple-400);
    --color-flexoki-magenta: var(--color-magenta-400);
    --color-flexoki-amber: var(--color-amber-400);
    --color-flexoki-lime: var(--color-lime-400);
    --color-flexoki-emerald: var(--color-emerald-400);
    --color-flexoki-teal: var(--color-teal-400);
    --color-flexoki-sky: var(--color-sky-400);
    --color-flexoki-indigo: var(--color-indigo-400);
    --color-flexoki-violet: var(--color-violet-400);
    --color-flexoki-fuchsia: var(--color-fuchsia-400);
    --color-flexoki-pink: var(--color-pink-400);
    --color-flexoki-rose: var(--color-rose-400);
    --color-flexoki-slate: var(--color-slate-400);
    --color-flexoki-gray: var(--color-gray-400);
    --color-flexoki-zinc: var(--color-zinc-400);
    --color-flexoki-neutral: var(--color-neutral-400);
    --color-flexoki-stone: var(--color-stone-400);
}

.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--color-primary);
    transition: text-decoration-color 0.2s ease-in-out;

    &:hover {
        color: var(--color-flexoki-bg);
        background-color: var(--color-primary);
    }
}
