---
import ArrowIcon from "@/components/ui/ArrowIcon.astro";

interface Props {
	href?: string;
	external?: boolean;
	hover?: boolean;
	showArrow?: boolean;
}

const { href, external = false, hover = true, showArrow = false } = Astro.props;
const Component = href ? "a" : "div";
---

<Component
	href={href}
	target={external ? "_blank" : undefined}
	rel={external ? "noopener noreferrer" : undefined}
	class:list={[
		"group -mx-3 flex items-baseline gap-4 border-b border-ui px-3 py-3 transition-colors",
		hover && "hover:bg-background-2",
	]}
>
	<div class="shrink-0">
		<slot name="leading" />
	</div>
	<div class="min-w-0 flex-1">
		<slot />
	</div>
	<div class="flex shrink-0 items-baseline gap-4">
		<slot name="trailing" />
		{showArrow && <ArrowIcon class="shrink-0 text-foreground-3 transition-transform group-hover:translate-x-0.5" />}
	</div>
</Component>
